.formation{
	margin-top: 10px;
}
.row{
	margin-bottom: 30px;
}

.welcomeIcon{
	color:#6B62D0;
}
.welcomeIcon li .thumbnail{
	border:none;
	box-shadow: 1px 0px 5px 0px #aaa;
}

.welcomeIcon li .thumbnail .important{
	color:#00a2fb;
}

.welcomeIcon h3{
	color:#333333;
}

.container{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:white;
	padding-bottom:60px;
	margin-top:30px;
	min-height:800px;
}

.contentPage{
	background-color:white;
	width:100%;
	border: 2px solid #fff;
	box-shadow: 2px 8px 8px #aaa;
	-moz-box-shadow: 2px 8px 8px #aaa;
	-webkit-box-shadow: 2px 8px 8px #aaa;
}

.first{
	margin-top:60px;
}