
.footer-column {
	margin-top: 2em;
	height: 200px;
	position: absolute;
	right: 50%;
	width: 500px;
	letter-spacing: 1px;
	line-height: 1.5;
}

.footer-column-right {
	right:  auto;
	left: 50%;
	border-right: none;
}

.footer {
	font-size: 0.9em;
	position: relative;
	height: 380px;
	padding: 0px;
	width: 100%;
	background: #4A257F;
  	overflow: visible;
}

.footer textarea {
	width: 250px;
	max-width: 250px;
	min-width: 250px;
  	transition: all 0.5s;
  	-moz-transition: all 0.5s; /* Firefox 4 */
  	-webkit-transition: all 0.5s; /* Safari and Chrome */
  	-o-transition: all 0.5s; /* Opera */
	background-color: rgba(255, 255, 255, 0.8);
}

.footer textarea:focus {
	width: 500px;
	min-width: 500px;
	max-width: 500px;
	background-color: rgba(255, 255, 255, 1);
}

.footer .btn {
	background: #3d729f;
}

.footer .btn:hover {
	background: #4e83b0;
}

.footer .add-on {
	width: 60px;
	text-align: left;
	background: #3d729f;
	border: 1px solid #1c527f;
	text-shadow: none;
	color: white;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright {
	font-size: 0.9em;
	position: absolute;
	bottom: 0px;
	padding: 10px;
	color: #AAA;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
}

.footer-bg {
	position: absolute;
	opacity: 0.62;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 48%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(48%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 */
}


.footer-light-effect {
	position: absolute;
	top: -10px;
	width: 100%;
	height: 10px;
	border-bottom: 1px solid #29a9df;
	background: rgba(0,0,0,0.05);
	z-index: 100;
}

.phone-label {
	color: white;
	display: inline-block;
	width: 60px;
}

.phone-text {
	color: #EEE;
	font-weight: bold;
}

.footer-title {
	color: white;
	display: block;
	font-size: 130%;
	font-variant: small-caps;
	padding-bottom: 5px;
}

.footer-text {
	color: #EEE;
}

.footer .quote {
	font-style: italic;
	color: white;
	font-weight: bold;
	font-size: 2em;
	margin-top: 50px;
}

.footer .quote i {
	opacity: 0.4;
	padding-left: 10px;
	padding-right: 3px;
}