header {
	background-repeat: no-repeat;
}

.header-bottom-strip {
	position: absolute;
	width: 100%;
	bottom: 65px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.1);
}

.header-bg {
	position: absolute;
	opacity:0.8;
	width: 100%;
	height: 500px;
	background: #400099; /* Old browsers */

}

.header-bg-shadow-start {
	position: absolute;
	opacity:0.95;
	width: 100%;
	height: 500px;
	background: black;
}

.header-bg-shadow {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}

.header-top-strip {
	z-index: 1;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 60px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */

}

.header-top-strip-content {
	margin: 0px auto;
	max-width: 1170px;
	width: 100%;
	text-align: right;
	color: white;
	padding-top: 0.8em;
}

.header-top-strip-content-right {
	float: right;
	padding-top: 0.2em;
}

.header-top-strip-content-left {
	float: left;
	line-height: 1.7;
	margin-left: 0.5em;
	color: white;
}  

.excilys-logo {
	width: 46px;
}

.altendis {
	font-size: 98px;
	font-weight: bold;
	margin: 0;
	margin-left: 140px;
	color: white;
	line-height: 1.3;
	text-shadow: 0 1px 0 #999, 0 2px 0 #AAA,    0 4px 1px rgba(0, 0, 0, .1),    0 0 5px rgba(0, 0, 0, .1),    0 1px 3px rgba(0, 0, 0, .3),    0 3px 5px rgba(0, 0, 0, .2);
}

.altendis-description {
	font-size: 32px;
	color: #efefef;
	line-height: 1.25;
	width: auto;
	display: inline;
}

.header-content {
	height: 500px;
	position: relative;
}

.header-light-effect {
	position: absolute;
	top: 60px;
	width: 100%;
}

.header-hr {
	width: 100%;
	height: 1px; background: -moz-linear-gradient(left,  rgba(41,169,223,0) 0%, rgba(41,169,223,0.6) 50%, rgba(41,169,223,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(41,169,223,0)), color-stop(50%,rgba(41,169,223,0.6)), color-stop(100%,rgba(41,169,223,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(41,169,223,0) 0%,rgba(41,169,223,0.6) 50%,rgba(41,169,223,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(41,169,223,0) 0%,rgba(41,169,223,0.6) 50%,rgba(41,169,223,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(41,169,223,0) 0%,rgba(41,169,223,0.6) 50%,rgba(41,169,223,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(41,169,223,0) 0%,rgba(41,169,223,0.6) 50%,rgba(41,169,223,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0029a9df', endColorstr='#0029a9df',GradientType=1 ); /* IE6-9 */
}

.altendis-logo {
	margin-right: 30px;
	position: relative;
	 width: 120px;
	left: 16px;
	top: -2px;
	display: inline;
	position: absolute;
	left: 0px;
}

.header-content .centered {
	position: relative;
	margin: 0px auto;
	padding-top: 125px;
	max-width: 1170px;
	color: white;
	text-align: center;
}

.header-content .centered .text {
	position: relative;
	text-align: left;
	left: 280px;
}